* { 
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

.video {
    display: flex;
    flex-direction: column;
    height: 30vh;

}

.video >:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.title_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

